.form-book-title {
  width: 50%;
}

input {
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin: 10px 0;
}

input.grow-4 {
  flex-grow: 3;
}

input.grow-1,
button.grow-1 {
  flex-grow: 1;
  margin: auto 20px;
}

button.grow-1 {
  background-color: #0192fa;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}
